@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}
/* @font-face {
  font-family: 'Avenir';
  src: url('https://fonts.cdnfonts.com/css/avenir?styles=116526');
} */

