@font-face {
  font-family: 'Avenir';
  src: url('https://fonts.cdnfonts.com/css/avenir?styles=116526');
}

.firstScreen{
  background-image: url(https://assets.devialet.com/fr-fr/media/dvl_media/Hero100_Phantom_Gold_Refurbished_desktop.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  margin: 0;
 
}

.header{
display : block;
height: 50px;
display: flex;
justify-content: space-around;
align-items: center;
padding-top: 20px
}
.logo{
  width: 150px;
  height: 40px;
  color: white;
  justify-content: center;
  padding-left: 1.5vw

}
.navBar{
  display: flex;
  color: white;
  width: 55vw;
  justify-content: space-between;
  font-family: Avenir;
  font-weight: 500;
  margin-left: 5vw;
  font-size: 16px;

}

.icons{
  width: 10vw;
  display: flex;
  margin-left: 5vh;
  margin-right: 5vh;
  justify-content: space-around;

}
.title{
  font-weight: 900;
}
.titleContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4vw;
  margin-top: 30vh;
  color: white;
  font-family: Avenir;
  font-size: 25px;
}
.titleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform:uppercase;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  width: 100px;
  padding: 13px 25px;
}

.secondScreen{
  width: 100vw;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 240, 240);
}

.images{
  width: 45vw;
  height: 90vh;
  margin: 5vw;
  border-radius: 10px;
}
.rightSecondScreenContainer{
  font-family: Avenir;
  font-size: 25px;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 6vw
  
}
.abstract{
  font-weight: 450;
  line-height: 2;
  font-size: 22px;
}

.secondScreenButton{
font-size: 16px;
text-transform: uppercase;
font-weight: bold;
padding-top: 15px;

}

.thirdScreen{
  width: 100vw;
  height: 380vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  scrollbar-width: none;
}
.titles3Container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40vw;
  height: 50vh;
  margin: 0.5vw;
  padding-bottom: 50px;
}
.titles3{
  color: white;
  font-family: Avenir;
  font-size: 50px;
  margin: 0
  

  
}

.rightColumn{
  display: flex;
  flex-direction: column;
  margin-top: -80vh;
}
.leftColumn{
  display: flex;
  flex-direction: column;

}

.whiteBanner{
  width: 100vw;
  height: 25vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}
.item{
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bannerTitles{
font-family: Avenir;
font-weight: bold;
margin: 1px;
}
.bannerIcons{
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px;
  display: inline;
  font-family: Avenir;
  font-weight: bold;
  font-size: 13px
  
}
.infos{
  font-family: Avenir;
  margin: 1px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}